/* Colores principales Automac */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css');

:root {
	--color-amarillo: #FFC400;   /* Amarillo Caterpillar */
	--color-gris: #EAE0C8;       /* Gris Perla */
	--color-negro: #000000;      /* Negro */
	--fuente-principal: "Oswald", sans-serif;
	--fuente-titulos: "Oswald", sans-serif;
}


body {
	background-color: #fff;
	color: var(--color-negro);
	font-family: var(--fuente-principal);
}

/* Tipografía para títulos y subtítulos */
h1, h2, h3, h4 {
	font-family: var(--fuente-titulos);
	font-weight: 400;
     
	letter-spacing: 0.03em;
}

/* Subtítulos destacados (como en Home.vue) */
.subtitulo-amarillo {
	color: var(--color-amarillo);
	font-weight: 400;
	letter-spacing: 0.04em;
}
